{
	log
}

:80 {
	header {
		X-Robots-Tag "noindex"
		-Server
	}

	handle /api/* {
		reverse_proxy unix//run/gunicorn/gunicorn.sock
	}

	handle {
		root * /app/staticfiles
		file_server
		try_files {path} /index.html
	}
}
