:80 {
	log
	header X-Robots-Tag "noindex"

	@api {
		path /api/*
		path /ws/*
	}

	handle @api {
		reverse_proxy unix//run/daphne/daphne.sock
	}

	handle {
		root * /app/staticfiles
		file_server
		try_files {path} /index.html
	}
}
