@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: hsl(164 62% 99%);
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: hsl(226 19% 13%);
    color:white
  }
}
