:80 {
	# Set the root directory for static files
	handle {
		root * /var/www/html
		file_server
		try_files {path} /index.html
		header / X-Robots-Tag "noindex"
	}

	# Specific handling for robots.txt
	@robots {
		path /robots.txt
	}
	handle @robots {
		root * /var/www/html
		file_server
	}
}