# Update to manually upgrade ZaneOps version
IMAGE_VERSION=latest

#--------------------------------------------------------------------
# Credentials, DO NOT CHANGE or else you might break your whole app
#--------------------------------------------------------------------
ZANE_APP_DIRECTORY={{INSTALL_DIR}}
ZANE_DB_USER={{ZANE_DB_USER}}
ZANE_DB_PASSWORD={{ZANE_DB_PASSWORD}}
DJANGO_SECRET_KEY={{ZANE_DJANGO_SECRET_KEY}}

#--------------------------------------------------------------------
# Domain settings
#--------------------------------------------------------------------
ROOT_DOMAIN="127-0-0-1.sslip.io"
ZANE_APP_DOMAIN="127-0-0-1.sslip.io"

# Mode `https` enable only the https port (443), mode `http` enable both ports
MODE='https' # or 'http'
HTTP_PORT=80
HTTPS_PORT=443
# `http` mode still doesn't allow non secure cookies, enable this to disable secure cookies 
# __DANGEROUS_ALLOW_HTTP_SESSION="false"

#--------------------------------------------------------------------
# TLS/SSL settings
#--------------------------------------------------------------------
# Enable DNS-01 via Cloudflare first for getting SSL certificates, 
# it always falls back to the default way of gettings SSL certificates (via ACME protocol) 
# CLOUDFLARE_API_TOKEN=""


#--------------------------------------------------------------------
# Build settings
#--------------------------------------------------------------------
# How many builds & deployments to run at the same time on the server  
MAX_CONCURRENT_DEPLOYS=5


#--------------------------------------------------------------------
# Telemetry & Other envs
#--------------------------------------------------------------------
TELEMETRY_ENABLED="true"



# Enable Swagger UI to debug the API schema, 
# you can also just see for the full openapi (that is up to date with `main` branch): https://zaneops.dev/api-reference/openapi
# ENABLE_API_SCHEMA="true"
