asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
django==5.0.2
django-background-tasks==1.2.5
django-compat==1.0.15
docker==7.0.0
idna==3.6
packaging==23.2
pip==24.0
psycopg2-binary==2.9.9
redis==5.0.1
requests==2.31.0
setuptools==65.5.0
six==1.16.0
sqlparse==0.4.4
urllib3==2.2.0
uv==0.1.0
