services:
  proxy-test:
    image: ghcr.io/zane-ops/proxy:canary
    command: caddy run --resume
    ports:
      - "2020:2020"
    environment:
      CADDY_ADMIN: 0.0.0.0:2020
  temporal-worker:
    build:
      context: ../backend
      dockerfile: ../backend/Dockerfile
    container_name: zane-temporal-worker
    command: >
      bash -c "source /venv/bin/activate &&
               uv pip install watchdog &&
               uv pip install -r requirements.txt &&
               watchmedo auto-restart --directory=/code --pattern=*.py --ignore-patterns="/code/zane_api/tests/**" --recursive -- python manage.py run_worker"
    volumes:
      - ../backend:/code
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - db
      - redis
    network_mode: host
    environment:
      BACKEND_COMPONENT: WORKER
  registry:
    image: registry:2
    container_name: zane-registry
    restart: always
    environment:
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: Registry
      REGISTRY_AUTH_HTPASSWD_PATH: /auth/htpasswd
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /data
    volumes:
      - ./registry/auth:/auth
      - ./registry/data:/data
      - registry-lib-data:/var/lib/registry
    ports:
      - "9989:5000"
    networks:
      zane:
        aliases:
          - zane.registry
  redis:
    image: valkey/valkey:7.2.5-alpine
    container_name: zane-redis
    volumes:
      - redis-data:/data
    ports:
      - "6381:6379"
    networks:
      zane:
        aliases:
          - zane.cache
  db:
    image: postgres:12-alpine
    container_name: zane-db
    restart: unless-stopped
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: zane
    ports:
      - "5434:5432"
    networks:
      zane:
        aliases:
          - zane.db
  adminer:
    image: adminer
    container_name: zane-adminer
    restart: always
    ports:
      - "8081:8080"
    networks:
      - zane
  redis-gui:
    image: redis/redisinsight
    container_name: zane-redis-gui
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8089:5540"
    volumes:
      - redisinsight:/data
    networks:
      - zane
  fluentd:
    image: fluentd:v1.16.2-1.1
    volumes:
      - "./fluentd/fluent.conf:/fluentd/etc/fluent.conf"
      - "$HOME/.fluentd/:/var/fluentd/"
    networks:
      zane:
        aliases:
          - zane.fluentd
    environment:
      - API_HOST=host.docker.internal
    deploy:
      mode: global
volumes:
  db-data:
  redis-data:
  redisinsight:
  caddy-data:
  registry-lib-data:
  pgadmin-data:
networks:
  zane:
    external: true