@font-face {
    font-family: "GeistMono";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("./GeistMonoVF.ttf");
}


@font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("./GeistVF.woff2") format("woff2");
}

:root {
    --sl-font: 'Geist';
    --sl-font-mono: 'Geist Mono';
}