@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 87 57% 98%;
    --foreground: 87 51% 3%;
    --muted: 267 39% 93%;
    --muted-foreground: 267 3% 27%;
    --popover: 87 57% 98%;
    --popover-foreground: 87 51% 3%;
    --card: 87 57% 98%;
    --card-foreground: 87 51% 3%;
    --border: 87 6% 89%;
    --input: 87 6% 89%;
    --primary: 87 10% 49%;
    --primary-foreground: 0 0% 0%;
    --secondary: 267 10% 49%;
    --secondary-foreground: 0 0% 100%;
    --accent: 267 10% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 9 87% 25%;
    --destructive-foreground: 9 87% 85%;
    --ring: 87 10% 49%;
    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    --background: 87 38% 1%;
    --foreground: 87 36% 100%;
    --muted: 267 39% 7%;
    --muted-foreground: 267 3% 73%;
    --popover: 87 38% 1%;
    --popover-foreground: 87 36% 100%;
    --card: 87 38% 1%;
    --card-foreground: 87 36% 100%;
    --border: 87 6% 11%;
    --input: 87 6% 11%;
    --primary: 87 10% 49%;
    --primary-foreground: 0 0% 0%;
    --secondary: 267 10% 49%;
    --secondary-foreground: 0 0% 100%;
    --accent: 267 10% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 9 87% 60%;
    --destructive-foreground: 0 0% 0%;
    --ring: 87 10% 49%;
  }
}
