@tailwind base;
@tailwind components;
@tailwind utilities;
 

:root {
  color: theme('colors.card.foreground')
}

@layer base {
  :root {
    --background: 164 62% 99%;
    --foreground: 164 67% 0%;
    --muted: 164 7% 89%;
    --muted-foreground: 164 0% 26%;
    --popover: 164 62% 99%;
    --popover-foreground: 164 67% 0%;
    --card:  219, 40%, 18%;
    --card-foreground: 164 67% 0%;
    --border: 164 9% 90%;
    --input: 164 9% 90%;
    --primary: 164 61% 70%;
    --primary-foreground: 164 61% 10%;
    --secondary: 201 94% 80%;
    --secondary-foreground: 201 94% 20%;
    --accent: 164 10% 85%;
    --accent-foreground: 164 10% 25%;
    --destructive: 11 98% 31%;
    --destructive-foreground: 11 98% 91%;
    --ring: 164 61% 70%;
    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 226 19% 13%;
      --foreground: 231 28% 73%;
      --muted: 226 12% 17%;
      --muted-foreground: 226 12% 67%;
      --popover: 226 19% 10%;
      --popover-foreground: 231 28% 83%;
      --card: 164 43% 2%;
      --card-foreground: 164 30% 100%;
      --border: 226 9% 18%;
      --input: 226 9% 21%;
      --primary: 164 61% 70%;
      --primary-foreground: 164 61% 10%;
      --secondary: 201 94% 80%;
      --secondary-foreground: 201 94% 20%;
      --accent: 164 18% 21%;
      --accent-foreground: 164 18% 81%;
      --destructive: 11 98% 56%;
      --destructive-foreground: 0 0% 100%;
      --ring: 164 61% 70%;
    }
  }
}
