@tailwind base;
@tailwind components;
@tailwind utilities;


@supports (font-variation-settings: normal) {
  :root {
    font-optical-sizing: auto;
  }
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("assets/fonts/variable-woff/GeistVF.woff2") format("woff2");
}



:root {
  color: theme("colors.card.foreground");
  font-family: "Geist";
}

@layer base {
  :root {
    --background: 164 62% 99%;
    --foreground: 164 67% 0%;
    --muted: 164 7% 89%;
    --muted-foreground: 164 0% 26%;
    --popover: 164 62% 99%;
    --popover-foreground: 164 67% 0%;
    --card: 219, 40%, 18%;
    --toggle: 180, 23%, 95%;
    --card-foreground: 164 67% 0%;
    --border: 164 9% 90%;
    --input: 164 9% 90%;
    --primary: 164 61% 70%;
    --primary-foreground: 164 61% 10%;
    --secondary: 201 94% 80%;
    --secondary-foreground: 201 94% 20%;
    --accent: 164 10% 85%;
    --accent-foreground: 164 10% 25%;
    --destructive: 11 98% 31%;
    --destructive-foreground: 11 98% 91%;
    --ring: 164 61% 70%;
    --radius: 0.5rem;
    --loader: #003c57;
    --status-success: #bbf7d0 ;
    --status-error: #fecaca;
    --status-warning: #fef08a ;
    --link: #2563eb;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 226 19% 13%;
      --foreground: 231 28% 73%;
      --muted: 226 12% 17%;
      --muted-foreground: 226 12% 67%;
      --popover: 226 19% 10%;
      --popover-foreground: 231 28% 83%;
      --card: 164 43% 2%;
      --card-foreground: 164 30% 100%;
      --border: 226 9% 18%;
      --input: 226 9% 21%;
      --primary: 164 61% 70%;
      --primary-foreground: 164 61% 10%;
      --secondary: 201 94% 80%;
      --secondary-foreground: 201 94% 20%;
      --accent: 164 18% 21%;
      --accent-foreground: 164 18% 81%;
      --destructive: 11 98% 56%;
      --destructive-foreground: 0 0% 100%;
      --toggle: 164 43% 2%;
      --ring: 164 61% 70%;
      --loader: white;
      --link:#60a5fa;
    }
  }

  
}

/** Loader **/
.loader-svg path {
  fill: none;
  stroke: var(--loader);
  stroke-width: 10px;
  stroke-dasharray: 1400;
  stroke-dashoffset: 1400;
  animation: drawLoaderSVG 2.5s linear infinite;
}
@keyframes drawLoaderSVG {
  0% {
    stroke-dashoffset: 1400; 
  }
  50% {
    stroke-dashoffset: 0; 
  }
  100% {
    stroke-dashoffset: -1400;
  }
}
