---
import logo from "../../assets/Logo.svg";
---

<!doctype html>
<html>
  <head>
    <title>ZaneOps API Reference</title>
    <meta charset="utf-8" />
    <link href="/docs/favicon.svg" rel="icon">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header class="custom-header scalar-app">
        <div id="logo">
          <a href="/docs"><img src={logo.src} alt="Zane logo"  /></a>
        </div>
        <nav>
          <a href="/docs/get-started">Docs</a>
          <a href="//github.com/zane-ops/zane-ops" target="_blank" rel="noreferer noopener">Github</a>
        </nav>
        </header> 
        <script id="api-reference" is:inline data-url="/docs/openapi.yaml"></script>
        <script src="https://cdn.jsdelivr.net/npm/@scalar/api-reference"></script>
  </body>
</html>

<style>
:root {
  --scalar-custom-header-height: 50px;
}

#logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#logo  img {
  width: 2.5rem;
  flex: none;
  height: 2.5rem;
}

.custom-header {
  height: var(--scalar-custom-header-height);
  background-color: var(--scalar-background-1);
  box-shadow: inset 0 -1px 0 var(--scalar-border-color);
  color: var(--scalar-color-1);
  font-size: var(--scalar-font-size-2);
  padding: 0 18px;
  position: sticky;
  justify-content: space-between;
  top: 0;
  z-index: 100;
}
.custom-header,
.custom-header nav {
  display: flex;
  align-items: center;
  gap: 18px;
}
.custom-header a:hover {
  color: var(--scalar-color-2);
}
</style>