/* Dark mode colors. */
:root {
	--sl-color-accent-low: #440921;
	--sl-color-accent: hsl(164 61% 70%);
	--sl-color-accent-high: hsl(164 61% 70%);
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #ededef;
	--sl-color-gray-2: #c1c2c4;
	--sl-color-gray-3: #8a8b90;
	--sl-color-gray-4: #57585c;
	--sl-color-gray-5: #37383c;
	/* --sl-color-gray-6:hsl(164 43% 2%); */
	/* --sl-color-black: hsl(226 19% 13%); */
	--sl-color-gray-6:hsl(226 19% 13%);
	--sl-color-black: hsl(164 43% 2%);
}
/* Light mode colors. */
:root[data-theme='light'] {
	/* --sl-color-accent-low: #fec5d4;
	--sl-color-accent: #c30064;
	--sl-color-accent-high: #61002e; */
	--sl-color-accent: hsl(164, 61%, 45%);
	--sl-color-accent-high: hsl(164, 61%, 50%);
	--sl-color-white: #18181a;
	--sl-color-gray-1: #26262a;
	--sl-color-gray-2: #37383c;
	--sl-color-gray-3: #57585c;
	--sl-color-gray-4: #8a8b90;
	--sl-color-gray-5: #c1c2c4;
	--sl-color-gray-7: #f6f6f7;
	--sl-color-bg-nav: #f6f6f7;
	--sl-color-bg-sidebar: #f6f6f7;
	--sl-color-black: #ffffff;
	--sl-color-bg: #ffffff;
}
