:80 {
	# Set the root directory for static files
	root * /var/www/html
	file_server
	
	@assets {
		path_regexp assets \.(css|js|png|jpg|jpeg|gif|svg|woff|woff2|eot|ttf|otf)$
	}

	header @assets Cache-Control "public, max-age=31536000, immutable"
	
	handle_errors {
		@404 {
			expression {http.error.status_code} == 404
		}
		rewrite @404 ./404.html
		file_server
	}
}
