name: Build and Push Pull Requests Images
on:
  pull_request:
  workflow_dispatch:

jobs:
  build-push-proxy:
    name: Build and Push Zane Proxy
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CONTAINER_REGISTRY_PAT }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: ./docker/proxy
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/zane-ops/proxy:pr-${{ github.event.pull_request.number }},ghcr.io/zane-ops/proxy:${{ github.sha }}
          cache-from: |
            type=registry,ref=ghcr.io/zane-ops/proxy:pr-${{ github.event.pull_request.number }}
            type=registry,ref=ghcr.io/zane-ops/proxy:canary
          cache-to: type=inline
          build-args: |
            ENVIRONMENT=prod 
            COMMIT_SHA=${{ github.sha }}
  build-push-app:
    name: Build and Push Zane App
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Cache pnpm dependencies
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.OS }}-pnpm-cache-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.OS }}-pnpm-cache-
      - name: Build frontend with node
        run: |
          npm install -g pnpm@8
          pnpm install --frozen-lockfile
          pnpm --prefix frontend run build
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CONTAINER_REGISTRY_PAT }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./docker/app/slim.Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/zane-ops/app:pr-${{ github.event.pull_request.number }},ghcr.io/zane-ops/app:${{ github.sha }}
          cache-from: |
            type=registry,ref=ghcr.io/zane-ops/app:pr-${{ github.event.pull_request.number }}
            type=registry,ref=ghcr.io/zane-ops/app:canary
          cache-to: type=inline
          build-args: |
            COMMIT_SHA=${{ github.sha }}
            IMAGE_VERSION=pr-${{ github.event.pull_request.number }}