name: Build and Push Latest Images
on:
  release: 
    types: 
      [published]
  workflow_dispatch:

jobs:
  extract-version:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.version.outputs.tag }}
      major: ${{ steps.version.outputs.major }}
    steps:
      - name: Extract version info
        id: version
        run: |
          TAG="${GITHUB_REF##*/}"
          MAJOR="${TAG%%.*}"
          echo "tag=$TAG" >> $GITHUB_OUTPUT
          echo "major=$MAJOR" >> $GITHUB_OUTPUT
  
  build-push-proxy:
    needs: extract-version
    name: Build and Push Zane Proxy
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CONTAINER_REGISTRY_PAT }}
      - name: Set tags for proxy
        id: set-tags
        run: |
          if [[ "${{ needs.extract-version.outputs.tag }}" == *"beta"* ]]; then
            echo "tags=ghcr.io/zane-ops/proxy:${{ github.sha }}
            ghcr.io/zane-ops/proxy:${{ needs.extract-version.outputs.tag }}" >> $GITHUB_OUTPUT
          else
            echo "tags=ghcr.io/zane-ops/proxy:latest
            ghcr.io/zane-ops/proxy:${{ github.sha }}
            ghcr.io/zane-ops/proxy:${{ needs.extract-version.outputs.major }}
            ghcr.io/zane-ops/proxy:${{ needs.extract-version.outputs.tag }}" >> $GITHUB_OUTPUT
          fi
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: ./docker/proxy
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.set-tags.outputs.tags }}
          cache-from: type=registry,ref=ghcr.io/zane-ops/proxy:latest
          cache-to: type=inline
          build-args: |
            ENVIRONMENT=prod 
            COMMIT_SHA=${{ github.sha }}


  build-push-app:
    needs: extract-version
    name: Build and Push Zane App
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cache pnpm dependencies
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.OS }}-pnpm-cache-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.OS }}-pnpm-cache-
      - name: Build app with node
        run: |
          npm install -g pnpm@8
          pnpm install --frozen-lockfile
          pnpm --prefix frontend run build
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CONTAINER_REGISTRY_PAT }}
      - name: Set tags for app
        id: set-tags
        run: |
          if [[ "${{ needs.extract-version.outputs.tag }}" == *"beta"* ]]; then
            echo "tags=ghcr.io/zane-ops/app:${{ github.sha }}
            ghcr.io/zane-ops/app:${{ needs.extract-version.outputs.tag }}" >> $GITHUB_OUTPUT
          else
            echo "tags=ghcr.io/zane-ops/app:latest
            ghcr.io/zane-ops/app:${{ github.sha }}
            ghcr.io/zane-ops/app:${{ needs.extract-version.outputs.major }}
            ghcr.io/zane-ops/app:${{ needs.extract-version.outputs.tag }}" >> $GITHUB_OUTPUT
          fi
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./docker/app/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.set-tags.outputs.tags }}
          cache-from: type=registry,ref=ghcr.io/zane-ops/app:latest
          cache-to: type=inline
          build-args: |
            COMMIT_SHA=${{ github.sha }}
            IMAGE_VERSION=${{ needs.extract-version.outputs.tag }}
