name: Django Tests

on:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-pytests
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }} # cancel in progress on push (only if not on `main`)

jobs:
  run-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        apps: [zane_api, container_registry, git_connectors] # Split into 5 parallel jobs

    services:
      loki:
        image: fredkiss3/grafana-loki:3.4
        ports:
          - "3100:3100"
        volumes:
          - loki-data:/loki
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_DB: zane
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
        ports:
          - 5434:5432
      proxy:
        image: ghcr.io/zane-ops/proxy:canary
        ports:
          - "2020:2020"
        env:
          CADDY_ADMIN: 0.0.0.0:2020

    steps:
      - uses: actions/checkout@v4

      - name: Read Python version
        id: python-version
        run: echo "version=$(cat ./backend/.python-version)" >> $GITHUB_OUTPUT

      - name: Set up Python ${{ steps.python-version.outputs.version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ steps.python-version.outputs.version }}

      - name: Cache uv dependencies
        uses: actions/cache@v4
        with:
          path: |
            backend/.venv
            ~/.cache/uv
          key: ${{ runner.os }}-uv-py313-${{ hashFiles('backend/uv.lock') }}
          restore-keys: |
            ${{ runner.os }}-uv-py313-

      - name: Install dependencies
        run: |
          cd backend
          pip install uv
          uv sync --locked --no-dev --no-install-project
          uv sync --locked --no-dev --no-editable

      - name: Run tests for app ${{ matrix.apps }}
        run: |
          cd backend
          source .venv/bin/activate
          python manage.py test ${{ matrix.apps }}.tests --parallel --settings=backend.settings_test --keepdb
