name: Django Tests

on:
  pull_request:
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 6
    
    services:
      loki:
        image: fredkiss3/grafana-loki:3.4
        ports:
          - "3100:3100"
        volumes:
          - loki-data:/loki
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_DB: zane
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
        ports:
          - 5434:5432
      proxy:
        image: ghcr.io/zane-ops/proxy:canary
        ports:
          - "2020:2020"
        env:
          CADDY_ADMIN: 0.0.0.0:2020
    
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.13
        uses: actions/setup-python@v2
        with:
          python-version: 3.13

      - name: Install dependencies
        run: |
          cd backend
          pip install uv
          uv sync --locked --no-dev --no-install-project
          uv sync --locked --no-dev --no-editable

      - name: Run tests
        run: |
          cd backend
          source .venv/bin/activate
          # echo "Disabling tests for now"
          python manage.py test --parallel
